{
  "exclude": "src/__tests__/",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    }
  },
  "module": {
    "type": "commonjs"
  },
  "env": {
    "targets": {
      "node": "12"
    }
  }
}
